<form name="vm.form">
    <div class="admin-form-element">
        <label for="title">Въведете username</label>
        <input type="text" name="username" ng-model="vm.model.username" required>
    </div>
    <div class="admin-form-element">
        <label for="title">Въведете парола</label>
        <input type="password" name="username" ng-model="vm.model.password" required>
    </div>
    <div class="admin-form-element">
        <label for="title">Въведете отново паролата</label>
        <input type="password" name="username" ng-model="vm.repeatedPassword" required>
    </div>
    <div class="admin-form-element">
        <input type="submit" value="Go!" ng-click="vm.register()">
    </div>
</form>
