<div class="projects-container clearfix">
    <h2>Проекти в областта на {{vm.section}}</h2>
    <div class="project-from-projects">
        <a href="#/regional/projects/velingrad">
            <div class="project-thumb">
                <h4>Общински план за развитие на Велинград 2007 - 2013 г.</h4>
            </div>
        </a>
    </div>
    <div class="project-from-projects">
        <a href="#/regional/projects/velingrad">
            <div class="project-thumb">
                <h4>Общински план за развитие на Велинград 2007 - 2013 г.</h4>
            </div>
        </a>
    </div>
    <div class="project-from-projects">
        <a href="#/regional/projects/velingrad">
            <div class="project-thumb">
                <h4>Общински план за развитие на Велинград 2007 - 2013 г.</h4>
            </div>
        </a>
    </div>
    <div class="project-from-projects">
        <a href="#/regional/projects/velingrad">
            <div class="project-thumb">
                <h4>Общински план за развитие на Велинград 2007 - 2013 г.</h4>
            </div>
        </a>
    </div>
    <div class="project-from-projects">
        <a href="#/regional/projects/velingrad">
            <div class="project-thumb">
                <h4>Общински план за развитие на Велинград 2007 - 2013 г.</h4>
            </div>
        </a>
    </div>
    <div class="project-from-projects">
        <a href="#/regional/projects/velingrad">
            <div class="project-thumb">
                <h4>Общински план за развитие на Велинград 2007 - 2013 г.</h4>
            </div>
        </a>
    </div>
    <div class="project-from-projects">
        <a href="#/regional/projects/velingrad">
            <div class="project-thumb">
                <h4>Общински план за развитие на Велинград 2007 - 2013 г.</h4>
            </div>
        </a>
    </div>
    <div class="project-from-projects">
        <a href="#/regional/projects/velingrad">
            <div class="project-thumb">
                <h4>Общински план за развитие на Велинград 2007 - 2013 г.</h4>
            </div>
        </a>
    </div>
    <div class="project-from-projects">
        <a href="#/regional/projects/velingrad">
            <div class="project-thumb">
                <h4>Общински план за развитие на Велинград 2007 - 2013 г.</h4>
            </div>
        </a>
    </div>
    <div class="project-from-projects">
        <a href="#/regional/projects/velingrad">
            <div class="project-thumb">
                <h4>Общински план за развитие на Велинград 2007 - 2013 г.</h4>
            </div>
        </a>
    </div>
    <div class="project-from-projects">
        <a href="#/regional/projects/velingrad">
            <div class="project-thumb">
                <h4>Общински план за развитие на Велинград 2007 - 2013 г.</h4>
            </div>
        </a>
    </div>
    <div class="project-from-projects">
        <a href="#/regional/projects/velingrad">
            <div class="project-thumb">
                <h4>Общински план за развитие на Велинград 2007 - 2013 г.</h4>
            </div>
        </a>
    </div>
    <div class="project-from-projects">
        <a href="#/regional/projects/velingrad">
            <div class="project-thumb">
                <h4>Общински план за развитие на Велинград 2007 - 2013 г.</h4>
            </div>
        </a>
    </div>
    <div class="project-from-projects">
        <a href="#/regional/projects/velingrad">
            <div class="project-thumb">
                <h4>Общински план за развитие на Велинград 2007 - 2013 г.</h4>
            </div>
        </a>
    </div>
    <div class="project-from-projects">
        <a href="#/regional/projects/velingrad">
            <div class="project-thumb">
                <h4>Общински план за развитие на Велинград 2007 - 2013 г.</h4>
            </div>
        </a>
    </div>
    <div class="project-from-projects">
        <a href="#/regional/projects/velingrad">
            <div class="project-thumb">
                <h4>Общински план за развитие на Велинград 2007 - 2013 г.</h4>
            </div>
        </a>
    </div>
    <div class="project-from-projects">
        <a href="#/regional/projects/velingrad">
            <div class="project-thumb">
                <h4>Общински план за развитие на Велинград 2007 - 2013 г.</h4>
            </div>
        </a>
    </div>
    <div class="project-from-projects">
        <a href="#/regional/projects/velingrad">
            <div class="project-thumb">
                <h4>Общински план за развитие на Велинград 2007 - 2013 г.</h4>
            </div>
        </a>
    </div>
    <div class="project-from-projects">
        <a href="#/regional/projects/velingrad">
            <div class="project-thumb">
                <h4>Общински план за развитие на Велинград 2007 - 2013 г.</h4>
            </div>
        </a>
    </div>
    <div class="project-from-projects">
        <a href="#/regional/projects/velingrad">
            <div class="project-thumb">
                <h4>Общински план за развитие на Велинград 2007 - 2013 г.</h4>
            </div>
        </a>
    </div>
    <div class="project-from-projects">
        <a href="#/regional/projects/velingrad">
            <div class="project-thumb">
                <h4>Общински план за развитие на Велинград 2007 - 2013 г.</h4>
            </div>
        </a>
    </div>
    <div class="project-from-projects">
        <a href="#/regional/projects/velingrad">
            <div class="project-thumb">
                <h4>Общински план за развитие на Велинград 2007 - 2013 г.</h4>
            </div>
        </a>
    </div>
    <div class="project-from-projects">
        <a href="#/regional/projects/velingrad">
            <div class="project-thumb">
                <h4>Общински план за развитие на Велинград 2007 - 2013 г.</h4>
            </div>
        </a>
    </div>
    <div class="project-from-projects">
        <a href="#/regional/projects/velingrad">
            <div class="project-thumb">
                <h4>Общински план за развитие на Велинград 2007 - 2013 г.</h4>
            </div>
        </a>
    </div>
    <div class="project-from-projects">
        <a href="#/regional/projects/velingrad">
            <div class="project-thumb">
                <h4>Общински план за развитие на Велинград 2007 - 2013 г.</h4>
            </div>
        </a>
    </div>
    <div class="project-from-projects">
        <a href="#/regional/projects/velingrad">
            <div class="project-thumb">
                <h4>Общински план за развитие на Велинград 2007 - 2013 г.</h4>
            </div>
        </a>
    </div>
    <div class="project-from-projects">
        <a href="#/regional/projects/velingrad">
            <div class="project-thumb">
                <h4>Общински план за развитие на Велинград 2007 - 2013 г.</h4>
            </div>
        </a>
    </div>
    <div class="project-from-projects">
        <a href="#/regional/projects/velingrad">
            <div class="project-thumb">
                <h4>Общински план за развитие на Велинград 2007 - 2013 г.</h4>
            </div>
        </a>
    </div>
    <div class="project-from-projects">
        <a href="#/regional/projects/velingrad">
            <div class="project-thumb">
                <h4>Общински план за развитие на Велинград 2007 - 2013 г.</h4>
            </div>
        </a>
    </div>
    <div class="project-from-projects">
        <a href="#/regional/projects/velingrad">
            <div class="project-thumb">
                <h4>Общински план за развитие на Велинград 2007 - 2013 г.</h4>
            </div>
        </a>
    </div>
    <div class="project-from-projects">
        <a href="#/regional/projects/velingrad">
            <div class="project-thumb">
                <h4>Общински план за развитие на Велинград 2007 - 2013 г.</h4>
            </div>
        </a>
    </div>
    <div class="project-from-projects">
        <a href="#/regional/projects/velingrad">
            <div class="project-thumb">
                <h4>Общински план за развитие на Велинград 2007 - 2013 г.</h4>
            </div>
        </a>
    </div>
    <div class="project-from-projects">
        <a href="#/regional/projects/velingrad">
            <div class="project-thumb">
                <h4>Общински план за развитие на Велинград 2007 - 2013 г.</h4>
            </div>
        </a>
    </div>
    <div class="project-from-projects">
        <a href="#/regional/projects/velingrad">
            <div class="project-thumb">
                <h4>Общински план за развитие на Велинград 2007 - 2013 г.</h4>
            </div>
        </a>
    </div>
    <div class="project-from-projects">
        <a href="#/regional/projects/velingrad">
            <div class="project-thumb">
                <h4>Общински план за развитие на Велинград 2007 - 2013 г.</h4>
            </div>
        </a>
    </div>
    <div class="project-from-projects">
        <a href="#/regional/projects/velingrad">
            <div class="project-thumb">
                <h4>Общински план за развитие на Велинград 2007 - 2013 г.</h4>
            </div>
        </a>
    </div>
</div>
